.hero{width:50%;}
.scroll-down{position:absolute;bottom:.4rem;left:50%;-webkit-transform:translate(-50%);transform:translate(-50%);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.mouse{display:none;width:1.5rem;height:3rem;border:2px solid #FFF;border-radius:2rem;margin-bottom:.5rem;}
.mouse span{display:none;width:.5rem;height:.5rem;background:#fff;display:block;border-radius:50%;margin:auto;-webkit-animation:move-wheel 1s linear infinite;animation:move-wheel 1s linear infinite;}
.arrow span{display:none;}
@-webkit-keyframes move-wheel{0%{opacity:0;-webkit-transform:translateY(-1rem);transform:translateY(-1rem);}
100%{opacity:1;-webkit-transform:translateY(1rem);transform:translateY(1rem);}
}
@keyframes move-wheel{0%{opacity:0;-webkit-transform:translateY(-1rem);transform:translateY(-1rem);}
100%{opacity:1;-webkit-transform:translateY(1rem);transform:translateY(1rem);}
}
@media (min-width:576px){.scroll-down{bottom:2.3rem;}
}
@media (min-width:768){.scroll-down{bottom:2.3rem;}
}
@media (min-width:1536px){.hero{width:50%;}
.scroll-down{position:absolute;bottom:1rem;left:50%;-webkit-transform:translate(-50%);transform:translate(-50%);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.mouse{display:flex;width:1.5rem;height:3rem;border:2px solid #FFF;border-radius:2rem;margin-bottom:.5rem;display:-webkit-box;display:-ms-flexbox;display:flex;}
.mouse span{width:.5rem;height:.5rem;background:#fff;display:block;border-radius:50%;margin:auto;-webkit-animation:move-wheel 1s linear infinite;animation:move-wheel 1s linear infinite;}
.arrow span{display:block;width:1rem;height:1rem;border:2px solid transparent;border-right-color:#fff;border-bottom-color:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg);-webkit-animation:arrow-down .5s alternate infinite;animation:arrow-down .5s alternate infinite;}
@-webkit-keyframes move-wheel{0%{opacity:0;-webkit-transform:translateY(-1rem);transform:translateY(-1rem);}
100%{opacity:1;-webkit-transform:translateY(1rem);transform:translateY(1rem);}
}
@keyframes move-wheel{0%{opacity:0;-webkit-transform:translateY(-1rem);transform:translateY(-1rem);}
100%{opacity:1;-webkit-transform:translateY(1rem);transform:translateY(1rem);}
}
@-webkit-keyframes arrow-down{0%{opacity:0;}
25%{opacity:.25;}
50%{opacity:.5;}
75%{opacity:.75;}
100%{opacity:1;}
}
@keyframes arrow-down{0%{opacity:0;}
25%{opacity:.25;}
50%{opacity:.5;}
75%{opacity:.75;}
100%{opacity:1;}
}
}